@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora&display=swap');

@font-face {
    font-family: 'Gentle Monster';
    src: url('./gentlemonster-regular-webfont.woff2'), format('woff2')
        url('./gentlemonster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}