html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background: 0;
	min-width: 100vw;
	color: 0;
	font-family: 'Abel', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	position: relative;
	display: block;
	overflow-x: hidden;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2 {
	font-family: 'Ubuntu', sans-serif;
}

p {
}

input {
	&:-webkit-autofill ~ span,
	&:-webkit-autofill:hover ~ span,
	&:-webkit-autofill:focus ~ span,
	&:-webkit-autofill:active ~ span {
		transform: translateY(-34px);
		font-size: 14px;
		color: black;
	}
}
